discord.py
alt-profanity-check
tldextract
tiktoken
ollama
openai
together
cohere
huggingface_hub
anthropic
ai21
transformers
youtube-transcript-api
pdfplumber
scrapingant-client
google-api-python-client
google-auth
google-auth-oauthlib
