discord.py
alt-profanity-check
tldextract
tiktoken
openai
huggingface_hub
together
cohere
ollama
transformers
youtube-transcript-api
pdfplumber
google-api-python-client
google-auth
google-auth-oauthlib
Pillow
imagehash
