discord
alt-profanity-check
tldextract
tiktoken
openai
together
cohere
ollama
transformers
youtube-transcript-api
pdfplumber
google-api-python-client
google-auth
google-auth-oauthlib
Pillow
imagehash
